img {
    width:1425px;
}

h1 {
    margin-top: -650px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
    font-size: 75px;
    text-justify: auto;
}
button {
    align-items: center;
    margin-left: 600px;
}